.cart-row
  border-top: 1px solid #EFEFEF
  border-bottom: 1px solid #EFEFEF
  .col
    &:first-child
      padding-top: 35px
      width: calc(100% - 465px)
      max-width: 777px
    &:last-child
      width: 465px
      background: #F5F5F5
      padding: 44px 43px

.row-form
  padding: 30px 0 15px