.main
    &-f
        overflow: hidden
        &_block
            display: flex 
            align-items: flex-end
            padding: 41px 65px
            height: 421px 
            z-index: 1
            position: relative
            img 
                +box(100%)
                object-fit: cover
                position: absolute
                left: 0
                top: 0
                z-index: -2
        .slider-fade 
            max-width: 1175px
            width: calc(100% - 245px)
            margin-right: -100px
            margin-left: auto
    &-s
        .container 
            max-width: 1616px
            padding: 0
        &_title 
            font-size: 24px
            line-height: 110%
            padding-top: 20px
            display: block
            &.big
                font-size: 38px
        &_item
            width: 33.33%
            position: relative 
            height: 375px
            z-index: 1
            padding: 10px 35px 35px
            background: no-repeat center / cover
            font-weight: 500
            font-size: 16px
            color: #FFFFFF
            display: flex 
            flex-direction: column 
            justify-content: space-between
            img
                position: absolute
                left: 0
                top: 0
                +box(100%)
                object-fit: cover
                z-index: -1
            &.full-h
                width: 66.67%
            &.full-v
                width: 25%
                height: 750px
                padding: 20px 40px 35px

.popular-products 
    padding: 43px 0 72px
    .slider
        margin-top: 35px
        border-width: 0 0.5px 0  0.5px
        border-style: solid 
        border-color: transparent #DDDDDD transparent #DDDDDD

.services
    .slider
        margin: 0 -15px
        padding: 20px 7.5px

.section-articles
    padding-bottom: 65px
    .slider 
        margin: 0 -15px 50px
        padding: 0 7.5px

.newsletter
    .container 
        max-width: 1616px
        padding: 0
    .w-100
        min-height: 506px
    &-left
        display: grid
        padding: 80px 70px 55px
        height: 100%
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('../img/common/img6.jpg') no-repeat center / cover
        .btn
            margin-top: auto
        .fs-23
            margin-bottom: 35px
    &-right 
        background: #E44937 url("../img/common/fire.svg") no-repeat right -105% / auto 557px
        +d-flex(space-between, flex-start)
        flex-direction: column
        padding: 95px 75px

.form-subscription
    display: flex
    max-width: 560px
    width: 100%
    margin: 30px 0
    input
        background: #E7E7E7
        border-radius: 5px 0 0 5px
        border: none
        padding: 21px 22px
        
    .btn.bg-orange
        width: 165px
        font-size: 18px
        padding: 0 31px
        margin-left: -4px

.content 
    height: 190px
    overflow: hidden
    position: relative
    &:before 
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 140px
        z-index: 9
        pointer-events: none
        opacity: 1
        transition: all 0.3s ease
        background: linear-gradient(to top, rgba(255,255,255,1) 2%, rgba(255,255,255,0))
    &.active 
        height: 100%
        &:before 
            opacity: 0