.btn 
    font-size: 12px
    line-height: 36px
    color: $white
    background: #E44937
    border-radius: 4px
    padding: 0 20px 
    text-align: center
    width: 100%
    &.bg-orange
        color: $black
        font-size: 14px
    &.big 
        font-size: 16px 
        line-height: 54px

.btn-cart 
    border-radius: 50%
    background: #E44937
    +box(55px)
    padding-right: 3px
    padding-top: 4px
    flex-shrink: 0
    svg 
        +box(29px,100%)
        margin: 0 auto
        fill: $white
        display: block
    &.small 
        +box(42px)
        svg 
            +box(21px,100%)

.btn-more 
    font-size: 14px
    line-height: 18px
    text-decoration-line: underline
    color: #1D1D1B
    margin-top: 20px

.btn-close 
    +box(60px, 76px)
    flex-shrink: 0
    background: url('../img/common/close.svg') no-repeat center / 25px
    position: absolute
    bottom: 0
    right: 0

.btn-heart, .btn-weigher 
    +box(19px,15px)
    display: flex
    margin-bottom: 10px
    svg
        +box(100%)
        stroke: #DDDDDD

.btn-weigher svg
    stroke: none
    fill: #DDDDDD 
