// .fs-48 
//     font-size: 48px 
//     line-height: 64px 

.fs-30
    font-size: 30px 
    line-height: 33px 

// .fs-32
//     font-size: 32px 
//     line-height: 36px 
    
// .fs-24  
//     font-size: 24px
//     line-height: 36px

// .fs-20  
//     font-size: 20px
//     line-height: 28px
    
.fs-15
    font-size: 15px
    line-height: 17px

.fs-12 
    font-size: 12px
    line-height: 18px

.fs-14
    font-size: 14px
    line-height: 20px

// .fw-light 
//     font-weight: 300 
     
.fw-medium  
    font-weight: 500

.fw-semi
    font-weight: 600
    
.fw-bold
    font-weight: 700 
    
// .fw-extrabold
//     font-weight: 800 

.c-black 
    color: $black
    stroke: $black

.c-white 
    color: $white
    stroke: $white

.c-red 
    color: $red
    stroke: $red

.c-gray-light
    color: $gray-light
    stroke: $gray-light

// .text-up 
//     text-transform: uppercase

.text-center
    text-align: center

// .text-right
//     text-align: right

// .text-nowrap
//     white-space: nowrap

.underline
    text-decoration: underline