.header
    .btn-close 
        +box(60px, 76px)
        flex-shrink: 0
        background: url('../img/common/close.svg') no-repeat center / 25px
        position: absolute
        bottom: 0
        right: 0
    &-t 
        border-bottom: 1px solid $gray
        padding: 4px 0
        background-color: #fff
    &-c
        padding: 15px 0 13px
    &-b 
        background: #E44937
        position: relative
        padding: 0 16px
        .header_right
            background: #333333
            position: relative
            &:after 
                content: ''
                position: absolute
                left: 100% 
                top: 0
                +box(100vw,100%)
                background: #333333
    &_left 
        width: 345px
    &_right
        width: calc(100% - 345px)
        padding-left: 35px
        max-width: 1073px

.circle
    +box(38px)
    border-radius: 50%
    margin-right: 16px
    svg 
        fill: $white 
        margin: 0 auto
        display: block
        height: 100%
    .icon-phone
        fill: $white

.lang
    +centerY
    right: 15px
    a 
        font-size: 10px
        line-height: 13px
        text-transform: uppercase
        color: #2C2C2C
        margin-left: 15px
        &.active
            border-bottom: 1px solid #2C2C2C

.header .logo 
    background-image: url('../img/logo/logo-main.svg')

.logo
    background-repeat: no-repeat
    background-position: left center
    background-size: contain
    +box(282px,56px)

.logo 
    svg 
        +box(27px,34px)
        margin: 0 5px
        stroke-width: 2px
    .fs-30 
        letter-spacing: 0.02em
        text-transform: uppercase
        font-weight: 700
    .fs-15 
        letter-spacing: -0.01em

.burger
    +box(27px,20px)
    flex-shrink: 0
    display: none
    background: url('../img/common/burger.svg') no-repeat center / contain

.dropdowm 
    +centerX
    top: 100%
    width: max-content
    display: none
    z-index: 7
    background: $white
    box-shadow: $shadow
    border-radius: 6px
    padding: 20px 19px
    li 
        margin-bottom: 9px
        &:last-child    
            margin-bottom: 0
    .btn 
        margin-top: 15px

.messenger
    margin-right: 15px
    &-item
        cursor: pointer
        padding: 10px 0
        white-space: nowrap
        .icon-phone2
            +box(22px)
            margin-right: 15px
            fill: $black
        .icon-arrow-down 
            +box(12px)
            stroke: $black
            margin-left: 30px
            transform: scaleY(1)
            transition: all 0.3s ease
        &.active .icon-arrow-down 
            transform: scaleY(-1)

.search 
    position: relative
    width: 50.5%
    z-index: 4
    input
        font-family: 'TTFirsNeue', sans-serif
        font-size: 14px
        line-height: 18px
        background: #E8E8E8
        padding: 13px 19px
        border: none
        &:focus, &:valid
            background: #F4F4F4
        &:valid ~ .search-drop 
            display: block
        &::-webkit-input-placeholder
            font-family: 'TTFirsNeue', sans-serif
            font-size: 14px
        &:-moz-placeholder
            font-family: 'TTFirsNeue', sans-serif
            font-size: 14px
        &:-moz-placeholder
            font-family: 'TTFirsNeue', sans-serif
            font-size: 14px
        &:-moz-placeholder
            font-family: 'TTFirsNeue', sans-serif
            font-size: 14px

    &-drop
        position: absolute
        top: calc(100% - 4px)
        left: 0
        width: 100% 
        background: #F4F4F4
        border-radius: 0 0 5px 5px
        padding: 22px
        z-index: -1
        display: none
        li 
            margin-bottom: 10px
            img 
                margin-right: 30px
                +box(89px)
                object-fit: cover
        &:hover 
            display: block
    &-more 
        display: block 
        margin: 20px auto 0
        border-bottom: 1px solid $black

.btn-search
    +centerY 
    right: 0
    +box(64px,100%)
    svg 
        +box(17px)
        stroke: $black
        stroke-width: 2px

.navbotom
    li 
        padding: 0 17px
        flex-shrink: 0
        a span 
            font-size: 11px
            line-height: 14px
            margin-top: 10px
    img 
        +box(22px)
        margin: 0 auto
    svg 
        +box(21px)
        fill: $black
        margin: 0 auto
        display: block
        &.icon-heart 
            fill: none 
            stroke: $black
            stroke-width: 1.5px
        &.icon-calculate
            fill: none 
            stroke: $black
            stroke-width: 1px
        &.icon-phone
            fill: none 
            stroke: $black
       

.icon-menu, .icon-close 
    +box(27px)
    margin-right: 50px
    fill: $white
    display: none
    &.active 
        display: block

.icon-close 
    stroke: $white
    stroke-width: 4px

.main-page
    .catalog-h
        pointer-events: none
    .catalog-drop
        display: block
        &:before
            content: ''
            background: #F3F3F3
            position: absolute
            right: 100% 
            top: 0
            +box(100vw,100%)

.catalog
    position: relative
    &-h
        padding: 23px 0
        cursor: pointer
    &-drop  
        position: absolute
        left: -16px
        top: 100%
        width: calc(100% + 16px)
        background: #F3F3F3
        padding: 28px 0 22px 0
        z-index: 3
        display: none
        svg 
            +box(10px)
            stroke: #C6C6C6
            stroke-width: 2px
            margin-left: auto
            transition: all 0.3s ease
    &-m
        position: absolute
        left: 100%
        top: 0
        background: #FFFFFF
        padding: 43px 0 31px 75px
        width: 1073px
        z-index: 1
        opacity: 0
        pointer-events: none
        min-height: 421px
        transition: opacity 0.3s ease
        &.active 
            opacity: 1
            pointer-events: auto
        &_img 
            margin-right: 20px
        .col
            max-width: 307px
            margin-right: 20px
            a:hover 
                text-decoration: underline
        &:before 
            content: ''
            position: absolute
            left: 0
            top: 0 
            +box(100vw,100%)
            background: #FFFFFF
            box-shadow: 18px -2px 10px rgba(0, 0, 0, 0.31)
            z-index: -1
    &-item
        margin-bottom: 18px
        padding-right: 20px
        padding-left: 16px
        cursor: pointer
        position: relative
        &.active, &:hover
            &:after 
                opacity: 1
        &_img 
            +box(35px)
            flex-shrink: 0
            margin-right: 29px
        &:after 
            content: ''
            left: 100%
            +centerY
            width: 0
            height: 0
            border-style: solid
            border-width: 15.5px 0 15.5px 15.5px
            border-color: transparent transparent transparent #F3F3F3
            z-index: 2
            opacity: 0
            pointer-events: none
            transition: all 0.3s ease
    &-list
        margin-top: 24px
        list-style-type: disc
        li 
            margin-left: 16px
            margin-bottom: 11px
            line-height: 18px

.menu
    margin-left: auto
    a 
        color: $white
        display: block
        
    &-link
        text-transform: capitalize
        margin-left: 62px
        transition: all 0.3s ease
        color: $white
        cursor: pointer
        &:hover
            color: $orange
    li
        &:hover 
            color: #FFB321
            .menu-dropdown 
                opacity: 1
                pointer-events: auto 
    &-dropdown 
        position: absolute
        left: 37px
        top: 100%
        z-index: 8
        padding-top: 22px
        opacity: 0
        pointer-events: none 
        transition: opacity 0.3s ease
        ul
            min-width: 322px
            background: #E44937
            padding: 34px 27px 15px
            position: relative
            &:before 
                content: ''
                +box(0px)
                position: absolute
                top: 0
                left: 53px
                border-style: solid
                border-width: 10px 9.5px 0 9.5px
                border-color: #333333 transparent transparent transparent
        li 
            margin-bottom: 16px
        a 
            display: block
            &:hover
                text-decoration: underline

.cart-popup 
    position: absolute
    right: 0
    top: 0
    max-width: 525px
    width: max-content
    opacity: 0
    pointer-events: none
    transition: all 0.3s ease
    padding-top: 65px
    z-index: 99
    .icon-close2
        fill: $black
    &_container
        width: 100%
        background: $white
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25)
        padding: 27px 23px 20px
        border-radius: 5px
    &_total
        padding-right: 47px
    .btn 
        margin-top: 20px

.icon-delete
    +box(17px)
    fill: #B9B9B9

.cart-list
    padding: 20px 0
    max-height: 300px 
    overflow-y: auto
    li 
        margin-bottom: 10px 
        &:last-child
            margin: 0
    &_img
        border: 1px solid #DDDDDD
        +box(120px)
        margin-right: 20px
        flex-shrink: 0
        display: inline-flex
        img 
            margin: auto 

    &_title 
        line-height: 120%
        padding-right: 20px
        a 
            margin-bottom: 10px

.btn-delete 
    display: flex
    margin-left: 30px
    height: fit-content
    &:hover svg
        fill: $red
