.slider-one
    width: fit-content 
    margin: 0  
    text-align: center
    max-width: 640px

.slick-arrow
    margin: 0 32px
    +box(12px)
    stroke: $black
    background: no-repeat center / contain 
    &:before 
        content: none

.slick-prev
    background-image: url('../img/common/arrow-left.svg')

.slick-next
    background-image: url('../img/common/arrow-right.svg')

.slider-button
    position: static
    +box(35px)
    border-radius: 3px
    border: 1px solid #E7E7E7
    background: #FFFFFF
    margin: 0 0 0 6px
    display: inline-flex
    cursor: pointer
    transition: all 0.3s ease
    svg 
        +box(13px)
        stroke: #9E9E9E
        margin: auto
    &:hover 
        background: #E7E7E7

.slick-track
    display: flex

.slick-dots 
    bottom: 35px
    text-align: left
    padding: 0 15px
    li 
        margin: 0 10px 0 0
        +box(10px)
        &.slick-active 
            button 
                background: #E44937
        button
            background: #FFB321
            +box(10px)
            padding: 0
            margin: 0
            border-radius: 50%

.slick-dots li button:before
    content: none

.slider-nav .slick-track
    display: inherit