@import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/sprite"

html 
  font-family: "TTFirsNeue", sans-serif
  font-size: 16px
  line-height: 28px
  height: 100%

body 
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  font-size: $base-font-size
  line-height: 28px
  font-weight: 400
  font-family: "TTFirsNeue", sans-serif
  font-style: normal
  color: $black

*, *::before, *::after
  box-sizing: border-box

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator
  opacity: 0
  -webkit-appearance: none
  appearance: none

input[type="date"]::-webkit-datetime-edit-year-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-month-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-day-field:not([aria-valuenow])
  color: $black

*::-webkit-input-placeholder
    font-family: 'OpenSans', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    color: #A9A9A9

*:-moz-placeholder
    font-family: 'OpenSans', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    color: #A9A9A9

*::-moz-placeholder
    font-family: 'OpenSans', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    color: #A9A9A9

*:-ms-input-placeholder
    font-family: 'OpenSans', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    color: #A9A9A9

body, h1, h2, h3, h4, h5, h6, p, ol, ul
  margin: 0
  padding: 0
  font-weight: normal

ol, ul 
  list-style: none

ol
  counter-reset: li

img 
  max-width: 100%
  display: block
  object-fit: contain

input, button, textarea, select
  font: inherit

button 
    padding: 0
    cursor: pointer
    border: none
    
audio, canvas, iframe, img, svg, video, textarea
  vertical-align: middle

svg 
  flex-shrink: 0
  fill: none
  
textarea
  resize: none
  width: 100%
  outline: none
  appearance: none

section
  position: relative

input, select, button 
  outline: none
  background-color: transparent

a 
  text-decoration: none
  transition: all 0.3s ease
  color: $black
  display: block
  outline: none
  
p a 
  display: inline 

b
  font-weight: 600

input, textarea
  width: 100%
  appearance: none
  color: $black
  border-radius: 5px
  font-size: 16px
  line-height: 18px
  font-style: normal
  font-weight: normal

.invalid
  input
    border: 1px solid #B9B9B9!important
    box-shadow: 0px 0px 6px rgba(239, 0, 0, 0.5)!important
  .error
    display: block

.error
  font-family: "OpenSans", sans-serif
  font-size: 11px
  line-height: 17px
  color: #CC1D1D
  position: absolute
  left: 0
  top: calc(100% - 23px)

.valid:before
  content: ''
  position: absolute
  top: 19px
  right: 20px
  background: url("../img/common/check-green.svg") no-repeat center / contain
  +box(19px)

.input, .textarea
  font-size: 13px
  background: #FFFFFF
  border: 1px solid #DDDDDD
  padding: 14px 22px
  margin-bottom: 25px
  &::-webkit-input-placeholder
    font-size: 13px
    color: #000
  &:-moz-placeholder
    font-size: 13px
    color: #000
  &::-moz-placeholder
    font-size: 13px
    color: #000
  &:-ms-input-placeholder
    font-size: 13px
    color: #000

.input2, .textarea2
  border: 1px solid #B9B9B9
  border-radius: 5px
  padding: 18px 22px
  margin-bottom: 20px
  color: #0A0A0A
  &::-webkit-input-placeholder
    font-size: 16px
  &:-moz-placeholder
    font-size: 16px
  &::-moz-placeholder
    font-size: 16px
  &:-ms-input-placeholder
    font-size: 16px

h1
  font-weight: 500
  font-size: 68px
  line-height: 59px

h2, .title2 
  font-weight: 500
  font-size: 26px
  line-height: 35.1px
  &.big
    font-size: 50px
    line-height: 46px

table
  border-spacing: 0
  border-collapse: collapse
  width: 100% 

.container 
  max-width: $desktop
  width: 100% 
  margin: 0 auto 
  padding: 0 16px

.wrapper
  overflow: hidden

.checkbox 
  display: none 
  &:checked ~ .check:before 
    content: ''
  &:checked ~ .check-radio:before
    content: ''

.check
  background: #FFFFFF
  border: 1px solid #B9B9B9
  border-radius: 2px
  display: block 
  +box(20px)
  position: relative
  margin-right: 22px
  flex-shrink: 0
  &:before
    content: none
    +centerXY 
    +box(15px)
    background: #B9B9B9
  &-radio
    border: 1px solid #A9A9A9
    border-radius: 50%
    +box(26px)
    display: block
    margin-right: 25px
    position: relative
    flex-shrink: 0
    &:before
      content: none
      +centerXY
      +box(15px)
      background: #A9A9A9
      border-radius: 50%
  &-red
    +box(24px)
    border-color: #E44937
    background-color: transparent
    &:before 
      background: url('../img/common/check.svg') no-repeat center / contain

.label-radio
  margin-bottom: 23px

.text-small
  font-size: 12px
  line-height: 20px

.text-small-gray
  font-size: 12px
  line-height: 20px
  color: #C2C2C2

.icon-comments 
  +box(13px)
  stroke: #666666

.icon-messenger 
  +box(17.5px,100%)

.icon-viber, .icon-phone 
  +box(16px,100%)

.icon-telegram
  +box(19px,100%)

.icon-arrow-down
  stroke: $black 
  stroke-width: 2px
  +box(10px,7px)
  transition: all 0.3s ease

.icon-filter 
  +box(22px,15px)
  fill: $white 
  stroke: $black 

.select
  position: relative
  height: fit-content
  &-item
    min-width: 160px
    cursor: pointer
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    &.active
      svg
        transform: scaleY(-1)
  &-drop 
    position: absolute
    top: 100%
    left: -5px
    min-width: max-content 
    width: 100%
    padding: 5px 0
    z-index: 3
    border-radius: 5px
    display: none
    background: #F3F3F3
    max-height: 250px
    overflow-y: auto
    li 
      padding: 5px 10px
  &-b
    .select-item 
      background: #FFFFFF
      border: 1px solid #DADADA
      border-radius: 4px
      padding: 0 0 0 20px
      max-height: 42px
    .arrow
      +box(44px,42px)
      padding: 10px
      background: #E7E7E7
      border-radius: 0px 4px 4px 0px
      +d-flex(center)
      svg 
        margin: auto
        +box(14px)
        stroke-width: 1px
    .select-drop
      background-color: #fff
      left: 0
      li
        padding: 5px 21px
        font-weight: 300
  &-i
    width: 100%
    &:before 
      content: ''
      +centerY
      right: 19px 
      background: url("../img/common/arrow-down.svg") no-repeat center / contain 
      +box(11px)
    .select-item
      background: #FFFFFF
      border: 1px solid #DADADA
      border-radius: 5px
      font-weight: 300
      font-size: 14px
      line-height: 160%
      padding: 12px 20px
    .select-drop
      left: 0
      li 
        padding: 5px 20px
        font-size: 13px

// .scroll-x
//   overflow-x: auto 
//   &::-webkit-scrollbar
//     display: none
.list
  list-style-type: disc
  font-size: 14px
  line-height: 23px    
  margin-left: 20px

.icon-user
  +box(15px)
  margin-right: 12px
  fill: #AEAEAE

.icon-close2
  +box(15px)
  fill: #DADADA

@import "modules/modules"

.isVisible
  display: block 
  
.gradient
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22))
  left: 0
  top: 0
  position: absolute
  z-index: -1
  +box(100%)

.max-165
  max-width: 165px

.max-200
  max-width: 200px

.max-241 
  max-width: 241px

.w-50
  width: 50%
  
.w-75
  width: 75% 

.w-100
  width: 100%

.bg-white
  background-color: $white!important

.bg-blue 
  background-color: #1EAFE5

.bg-blue2
  background-color: #139BD0

.bg-purple 
  background-color: #7C519B

.bg-red 
  background-color: #E44937

.bg-orange
  background-color: $orange

.relative
  position: relative

.d-block
  display: block

.d-none
  display: none

.d-inline
  display: inline
// .w-33
//   width: 33% 

// .w-50
//   width: 50% 

// .w-100
//   width: 100%

// .w-fit-content 
//   width: fit-content

// .max-w-100
//   max-width: 100%

// .line-clamp
//   display: block
//   display: -webkit-box
//   -webkit-box-orient: vertical
//   position: relative
//   line-height: 22px
//   overflow: hidden
//   text-overflow: ellipsis

// .line-clamp:after
//   content: '...'
//   text-align: center
//   bottom: 0
//   right: 0
//   width: 25%
//   display: block
//   position: absolute
//   height: calc(1em * 22px)
//   color: $brown-100
//   background: linear-gradient(to left, rgba(241, 242, 246, 0.1), rgba(241, 242, 246, 0.5) 75%)

// @supports (-webkit-line-clamp: 2)
//   .line-clamp:after
//     display: none !important
//   .line-clamp
//     -webkit-line-clamp: 2
//     height: calc(1em * 22px * 2)


@import "utils/media"