extends layout/main

block variables
	-var title = 'Карточка товара'
	-var page = 'articles-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Статьи')
		section.objects
			.container
				h1.fs-40.mb-20 Статьи
				.flex-wrap
					-var n = 9
					while (n--)
						.object
							a.object_img(href='#')
								img.mb-30(src='img/common/object.jpg' alt='image')
							a.fs-18.fw-medium(href='#') Все о пеллетных котлах
				.w-fit-content
					+pagination(adjacents, 6, 6, 1, base, arrow)
				p В настоящее время на рынке Украины существует широкий ассортимент моделей твердотопливных котлов различных типов и на любой диапазон по цене. В нашем интернет магазине представлены современные экономичные котлы на твердое топливо, которые удобны для использования, эффективные, простые и безопасные. Кроме того, благодаря использованию современных технологий они позволяют получить большую экономию топлива.
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных