extends layout/main

block variables
	-var title = 'Наши сертификаты'
	-var page = 'certifications-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Клиентам', '#')
					+breadcrumbs-item('Наши сертификаты')
		section.certifications
			.container
				h1.fs-40.mb-30 Наши сертификаты
				.flex-wrap.certifications-row
					.w-lg-50.d-sm-flex.w-100.pr-lg-15
						img.certifications-img(src='img/common/certifications1.jpg' alt='certifications')
						.max-345 
							img.certifications-logo(src='img/common/certifications-logo1.png' alt='certifications logo')
							.m-auto
								p.fs-14.mb-20 Крупнейшее польское предприятие по производству отопительного оборудования. Годовой обьем выпуска - около 40 тыс. шт. 
								p.fs-14.mb-20 Ассортимент Defro представлен инновационным оборудованием, в основе работы которого лежат принципы высокой эффективности, максимальной автоматизации процессов, бережливого отношения к окружающей среде.

					.w-lg-50.d-sm-flex.w-100.pl-lg-15
						img.certifications-img(src='img/common/certifications2.jpg' alt='certifications')
						.max-345 
							img.certifications-logo(src='img/common/certifications-logo2.png' alt='certifications logo')
							.m-auto
								p.fs-14.mb-20 Модельный ряд качественных котлов Hargassner из Австрии позволяет подобрать оборудование для отопления частных домов, коттеджей и даже небольшого промышленного предприятия. 
								p.fs-14.mb-20 Компания много лет занималась разработкой отопительного оборудования на биотоплеве, которое имеет много преимуществ. Их мощность колебается от 2 до 109кВт, что будет зависеть от конкретной модели.

					.w-lg-50.d-sm-flex.w-100.pr-lg-15
						img.certifications-img(src='img/common/certifications3.jpg' alt='certifications')
						.max-345 
							img.certifications-logo(src='img/common/certifications-logo3.png' alt='certifications logo')
							.m-auto
								p.fs-14 "Альтеп-Центр" - один из крупнейших в Украине производителей отопительной техники и комплектующих к нейю Компания была основана в 2005 году. Котлы Альтеп имеют экологический аттестат и сертификат эммисионно-энергетических испытаний.
					.w-lg-50.d-sm-flex.w-100.pl-lg-15
						img.certifications-img(src='img/common/certifications4.jpg' alt='certifications')
						.max-345 
							img.certifications-logo(src='img/common/certifications-logo4.png' alt='certifications logo')
							.m-auto 
								p.fs-14 STROPUVA - первый производитель котлов, что изобрел и выпустил котел, работающий по принципу "свечи" с горением сверху-вниз. С годами конструкции усовершенствоались, и с 2009 года STROPUVA пользуется популярностью на отечественном ринке.
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных


	.popup(data-item='calculation')
		.popup-container.stopPropagation 
			button.btn-close.ml-auto(type='button')
				+icon('close2')
			h2.text-up.text-center Рассчет мощности
			.flex-wrap.flex-md-row.flex-column-reverse
				.popup-calculation_left
					ul.list-calculation
						li.flex-center-between 
							p.fw-medium Высота, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Ширина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Длина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Степень утепления
							.select.select-i.max-241
								.select-item(data-toggle) Неутепленное, 100 Вт/м2
								ul.select-drop 
									li Неутепленное, 100 Вт/м2
					.result.flex-center-between 
						p.fs-18.fw-medium.c-white Необходимая <br> мощность, кВт
						input.input.max-165(type='text' value='5')

						
				.popup-calculation_right
					img.carcass(src='img/common/carcass.png' alt='image carcass')
block sliderScripts
	script(src="js/jquery.maskedinput.min.js")
	script(src="js/mask.js")