extends layout/main

block variables
	-var title = 'Главная страница'

block link

block content
	main
		section
			.container
				nav.breadcrumbs
					ul.flex-wrap
						+breadcrumbs-item('Главная','#')
						+breadcrumbs-item('Твердотопливные котлы')
					


block script 

	