extends layout/main

block variables
	-var title = 'Главная страница'

block link
	link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
	
block content
	main.main

block script 
	script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

	