extends layout/main

block variables
	-var title = 'Объекты Подробнее'
	-var page = 'objects-page objects-more-page'

block link 
	link(rel="stylesheet" type='text/css' href="vendor/mediaelementplayer.min.css")

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Объекты ','#')
					+breadcrumbs-item('Установка котлов на твердом топливе в каскаде ALTEP TRIO UNI PLUS 400 кВт - 2 шт')
		section.objects
			.container
				h1.fs-40.mb-20 Установка котлов на твердом топливе в каскаде ALTEP TRIO UNI PLUS 400 кВт - 2 шт
				.objects-more.flex-wrap.justify-content-between 
					.col.d-flex
						.slider-nav2
							-var n = 4
							while (n--)
								if (n==1)
									.slide.b-1 
										.play 
										p.d-md-block.d-none Видео
								else
									.slide 
										img(src='img/common/object.jpg' alt='product')
						.slider-for
							-var j = 4
							while (j--)
								if (j==1)
									.slide
										video.video(controls='' height='100%' width='100%'  poster='img/common/object.jpg' preload='none' style='max-width: 100%' tabindex='0' title='MediaElement')
											source(src='img/video.mp4' type='video/mp4')
											p This browser does not support the video element
								else
									.slide(data-button='gallery')
										img(src='img/common/object.jpg' alt='product')
					.col.flex-column.justify-content-between
						div
							.mb-30 
								p.fs-15 
									span.fw-medium.mr-15 Категория:
									| Отель
								p.fs-15 
									span.fw-medium.mr-15 Мощность:
									|  800 кВт  
								p.fs-15 
									span.fw-medium.mr-15 Котел
									| ALTEP TRIO UNI PLUS 400 кВт - 2 шт.
								p.fs-15 
									span.fw-medium.mr-15 Основной вид топлива:
									| дрова
								p.fs-15 
									span.fw-medium.mr-15 Дополнительное топливо:
									| брикеты, уголь
							p.fs-14 Твердотопливные котлы ALTEP TRIO UNI PLUS 400 кВт в каскаде обогревают загородный отель. Такая топочная позволяет сжигать древесину, брикет или уголь в ручном режиме. Котел отапливает помещения, а также приготавливает горячую воду для бытовых нужд.
						.banner.c-white 
							img.banner-img(src='img/common/img8.jpg')
							.flex-sm-center-between
								p.fs-27.fw-medium.lh-28
									span.c-orange.d-block Просчет объека
									span по установке <br> твердотопливных котлов
								a.btn.bg-orange.lh-41.m-0(href='#')
									span Заказать просчет 
				h2.mb-30 Схожие объекты
				.flex-wrap
					-var n = 3
					while (n--)
						.object
							a.object_img(href='#')
								img(src='img/common/object.jpg' alt='image')
							.align-items-center.mb-16
								p 22 апреля 2021
								p.mx-20 |
								p Киев
							a.fs-18.fw-medium(href='#') Установка котлов на твердом топливе в каскаде ALTEP TRIO UNI PLUS 400 кВт - 2 шт
			
				p В настоящее время на рынке Украины существует широкий ассортимент моделей твердотопливных котлов различных типов и на любой диапазон по цене. В нашем интернет магазине представлены современные экономичные котлы на твердое топливо, которые удобны для использования, эффективные, простые и безопасные. Кроме того, благодаря использованию современных технологий они позволяют получить большую экономию топлива.
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных
	.popup(data-item='gallery')
		.popup-container.stopPropagation 
			.slider-gallery
				-var n = 4
				while (n--)
					if (n==1)
						.slide
							video.video(controls='' height='100%' width='100%'  poster='img/common/object.jpg' preload='none' style='max-width: 100%' tabindex='0' title='MediaElement')
								source(src='img/video.mp4' type='video/mp4')
								p This browser does not support the video element.
					else 
						.slide 
							img(src='img/common/object.jpg' alt='object')

block script
	script(src="js/mediaelement-and-player.min.js")
	script(src='js/video.js')