extends layout/main

block variables
	-var title = 'Оплата и доставка'
	-var page = 'payment-delivery-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Клиентам', '#')
					+breadcrumbs-item('Оплата и доставка')
		section.payment-delivery
			.container
				.flex-wrap.justify-content-between
					.w-lg-50.w-100.pr-lg-15.mb-20
						h2.fs-40.mb-30 Способы оплаты
						.align-items-center.mb-20
							img.mr-15(src="img/common/cash.svg" alt='cash')
							p.fw-medium.lh-21 Наличная
						p.fs-14.mb-20 Оплата наличными возможна только при покупке в Киеве или Киевской области, а также в наших представительствах в регионах Украины (уточняйте у менеджеров).
						p.fs-14.mb-30 Оплата производится исключительно в национальной валюте по курсу определенному на момент заказа. В подтверждение оплаты мы выдаем Вам товарный чек.
					
						.align-items-center.mb-20
							img.mr-15(src="img/common/cashless.svg" alt='cashless')
							p.fw-medium.lh-21 Безналичная
						p.fs-14.mb-20 Оплата по безналичному расчету осуществляется следующим способом: после оформления заказа, менеджер магазина электронной почтой вышлет Вам счет- фактуру, который Вы сможете оплатить в кассе отделения любого банка или с расчетного счета Вашей фирмы.
						p.fs-14.mb-30 Для юридических лиц пакет всех необходимых документов предоставляется вместе с товаром.
										
						.align-items-center.mb-20
							img.mr-15(src="img/common/cash-delivery.svg" alt='cash-delivery')
							p.fw-medium.lh-21 Наложенным платежом службами доставки <br>(Новая Почта, Интайм)
						p.fs-14.mb-20 Оплата производится в отделении службы доставки наличным или безналичным расчетом после получения и проверки товара.
					
					.w-lg-50.w-100.pl-lg-15.mb-20
						h2.fs-40.mb-30 Способы доставки
						p.fs-14.mb-30 Мы можем доставить товар в Ваш город наиболее удобной для Вас службой перевозки, а именно Новая Почта, Интайм, Деливери, Мист Экспресс.
						.flex-wrap.delivery-methods.justify-content-between.mb-10
							img.mr-15.mb-20(src="img/common/nv.png" alt='delivery nv')
							img.mr-15.mb-20(src="img/common/meest.png" alt='delivery meest')
							img.mr-15.mb-20(src="img/common/delivery-auto.png" alt='delivery auto')
							img.mb-20(src="img/common/intime.png" alt='delivery intime')
						p.fs-14.mb-30.pb-20 Стоимость доставки расчитывается согласно тарифам перевозчика, а также обговаривается индивидуально в зависимости от Вашего заказа.
						.block.c-white.flex-column.justify-content-between
							div
								p.fs-20.mb-10.lh-28 ПРИ ПОКУПКЕ НА СУММУ* ОТ 10 000 ГРН <br class='d-sm-block d-none'> ДОСТАВКА ПО УКРАИНЕ НА СКЛАД ПЕРЕВОЗЧИКА 
								p.fs-40.fw-medium.mb-16 БЕCПЛАТНО!
							p.fs-14 *в большинстве случаев, в зависимости от продукции
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных


	.popup(data-item='calculation')
		.popup-container.stopPropagation 
			button.btn-close.ml-auto(type='button')
				+icon('close2')
			h2.text-up.text-center Рассчет мощности
			.flex-wrap.flex-md-row.flex-column-reverse
				.popup-calculation_left
					ul.list-calculation
						li.flex-center-between 
							p.fw-medium Высота, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Ширина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Длина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Степень утепления
							.select.select-i.max-241
								.select-item(data-toggle) Неутепленное, 100 Вт/м2
								ul.select-drop 
									li Неутепленное, 100 Вт/м2
					.result.flex-center-between 
						p.fs-18.fw-medium.c-white Необходимая <br> мощность, кВт
						input.input.max-165(type='text' value='5')

						
				.popup-calculation_right
					img.carcass(src='img/common/carcass.png' alt='image carcass')
block sliderScripts
	script(src="js/jquery.maskedinput.min.js")
	script(src="js/mask.js")