extends layout/main

block variables
	-var title = 'Спасибо за заказ'
	-var page = 'thank-order-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Оформление заказа')
		section.thank-order
			.thank-order_block.m-auto
				p.fs-30.fw-medium Спасибо, ваш заказ принят
				p.fs-36.fw-medium № заказа: 02669787
				p.fs-20.ff-opensans.ff-opensans Сообщение о подтверждении вашего заказа выслано на указаный e-mail адрес.
				a.btn.big-xl(href='#') вернуться на главную

		section.subscription
			.container
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных
block script