footer.footer
    .footer-top
        .container.flex-wrap.justify-content-between
            .col.justify-content-md-between.flex-md-column.flex-wrap
                a.logo.c-white(href='#')
                .w-md-100.w-50.c-white.lh-23
                    p Киев, ул. Большая Кольцевая, 4, оф.333 <br> ТРЦ "Променада Парк", "Ашан"
                    p.d-md-block.d-none пн-пт 09:00-18:00
                p.w-md-100.w-50
                    span.d-md-none.d-block.c-white пн-пт 09:00-18:00
                    a.c-white(href='mailto:info@pelletshome.com.ua') info@pelletshome.com.ua
            .col.justify-content-md-between.flex-md-column.flex-wrap 
                .footer_phones
                    a.fs-24.c-white.mb-9.fw-medium(href='tel:380674617749‬') +380 (67) 461-77-49‬
                    a.fs-24.c-white.mb-9.fw-medium(href='tel:380443842565') +380 (44) 384-25-65
                ul.socials.d-flex
                    each val in [{social: 'telegram', color: 'bg-blue2'},{social: 'viber', color: 'bg-purple'},{social: 'messenger', color: 'bg-blue'}]
                        li 
                            a(href='#' class=val.color)
                                +icon(val.social)
                .footer_btn
                    button.btn.bg-orange.big.max-200(type='button' data-button='callback') Обратний звонок
                .payment-systems.w-50.d-md-none.align-items-center 
                    img(src='img/common/visa.svg' alt='visa')
                    img(src='img/common/mastercard.svg' alt='mastercard')
            ul.col.footer-menu
                each val in ['Твердотопливные котлы','Водонагреватели','Печи и камины','Котельное оборудование','Обслуживание и чистка котлов, каминов и дымоходов','Альтернативное отопление','Биотопливо']
                    li 
                        a.c-white(href='#')=val
            ul.col.footer-menu
                each val in ['Акции %','Производители','Объекты','Монтаж','Клиентам','Контакты']
                    li
                        a.c-white(href='#')=val
    .footer-bottom
        .container.flex-wrap.flex-center-between.c-gray-300
            .col 
                p.fs-13 © Copyright pelletshome.com.ua © 2011–2021
            .col.align-items-md-center.d-none 
                img(src='img/common/visa.svg' alt='visa')
                img(src='img/common/mastercard.svg' alt='mastercard')
            .col
                a.c-gray-300.fs-12(href='#') Политика конфиденциальности
            .col
                p.fs-12 Design by DDForce

button.btn-up(type='button')
    +icon('arrow-up-long')

.popup.popup-callback(data-item='callback')
    form.popup-container.stopPropagation
        button.btn-close.ml-auto(type='button')
            +icon('close2')
        .popup-callback_content
            h2.fs-20.fw-medium.mb-30.text-center ЗАКАЗАТЬ <br> ОБРАТНЫЙ ЗВОНОК
            input.input.phone-mask(type='text' placeholder='+380 (__) ___-__-__' required)
            button.btn.bg-orange.big(type='submit') Отправить

